<div>
	<p><img src=<%= @user.profile_image_url %>>&nbsp;<%= @user.screen_name %> - <%= @user.description %></p>
</div>
<ul data-role="listview" id="posts" data-theme="d" data-inset="true" data-filter="true" data-filter-placeholder="Procurar por...">
	<li>
		
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-6767570366929939";
			/* ad_timeline_2 */
			google_ad_slot = "8295059317";
			google_ad_width = 728;
			google_ad_height = 90;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		
	</li>
	<% @resp.each do |r| %>
		<li><h5><%= r.text %></h5></li>
	<% end %>
</ul>