<ul data-role="listview" id="posts" data-theme="d" data-inset="true" data-filter="true" data-filter-placeholder="Procurar por...">
	<% @resp.each do |r| %>
		<li><h5><%= r.text %></h5></li>
	<% end %>
</ul>